.boton1{
    padding: 5px 15px 5px 15px;
    width: max-content;
    height: max-content;
    background-color: #DC1F49;
    border-radius: 5px;
    border: 2px solid #DC1F49;
    cursor: pointer;
    font-size: 15px;
    color: white;
}

.boton1:hover{
    background-color: #ca1d42;
    border: 2px solid #ca1d42;
}