.div-crear-cotizacion-main{
    width: 100%;
    background-color: #63CCD1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: auto;
    margin-top: 15px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.form-cotizacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.div-cotizacion-grande{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;

    flex-direction: column;
}

.select-cotizacion{
    width: 100%;
    height: 22px;
    border: 0px;
    border-radius: 5px;
}

.div-input-cotizacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-bottom: 10px;
}

.text-area-cotizacion{
    width: 100%;
    height: 80px;
    font-size: 15px;
    border: 0px;
    border-radius: 5px;
    max-width: 100%;
    min-width: 100%;
    min-height: 80px;

    font-family: Arial, Helvetica, sans-serif;
}

.input-chikito{
    width: 100%;
    height: 22px;
    font-size: 15px;
    border: 0px;
    border-radius: 5px;
}

.div-input-editar-empresa-item-coti{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.div-input-editar-empresa-triple{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 10px;
}

.img-cotizacion-plantilla{
    margin-top: 10px;
    display: block;
    width: 100%;

    cursor: pointer;
}

.div-radio-cotizacion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.div-radio-item{
    padding: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p-cotizacion{
    padding: 0px;
    margin: 0px;
    text-decoration: underline;
    font-size: 17px;
    margin-top: 7.5px;

    cursor: pointer;
}

.p-cotizacion:hover{
    color: rgb(100, 100, 100);
}

.hidden{
    display: none;
}

.div-items-line-1{
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.div-item-container{
    margin-top: 0px;
    width: 100%;
}

.div-item-cant{
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.div-item-art{
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.div-item-pre{
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.input-item{
    width: 100%;
    height: 22px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.text-area-coti{
    margin-top: 5px;
    font-size: 15px;

    width: 100%;
    border: none;
    border-radius: 5px;
    min-width: 100%;
    max-width: 100%;
    min-height: 46px;
    font-family: Arial, Helvetica, sans-serif;
}

.right{
    float: right;
}