.img-logo-empresa-index{
    width: 250px;
    height: 100px;
    object-fit: contain;
    position: fixed;
    top: 55px;
    left: 0px;
    cursor: pointer;

    z-index: -2;
}

.h1-index-titulo{
    top: 50px;
    left: 0px;
    position: fixed;
    width: 100%;
    text-align: center;

    z-index: -3;
}