.div-index-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-logo-empresa-index{
    width: 100%;
    height: 100px;
    object-fit: contain;

    cursor: pointer;
}

.h1-index-titulo{
    width: 100%;
    text-align: center;
}

.div-index-header-item-centro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
}

.div-index-header-item-lados{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 15%;
}

.btn-index-clientes-margen{
    margin-right: 15px;
}

.div-index-coti-ticket{
    width: 80%;
    margin: auto;
}

.div-index-btns{
    width: 100%;
    float: left;
}

.btn-index{
    width: 50%;
    float: left;
    height: 50px;
    background-color: #63CCD1;
    font-size: 17.5px;
    border: none;
    font-weight: bold;

    cursor: pointer;
}

.btn-index-left{
    border-top-left-radius: 20px;
}

.btn-index-right{
    border-top-right-radius: 20px;
}

.btn-inactive{
    background-color: white;
}

.btn-inactive:hover{
    background-color: rgb(235, 235, 235);
    text-decoration: underline;
}