.navbar{
    width: 100%;
    height: 50px;
    background-color: #004368;
    position: fixed;
    top: 0px;
    left: 0px;

    display: flex;
    justify-content: end;
    align-items: center;
}

.logo-navbar{
    height: 40px;
    display: block;
    position: fixed;
    left: 10px;
    top: 5px;
}

.logo-navbar:hover{
    filter: invert(15%);
}

.btn-img-navbar{
    height: 30px;
    display: block;
}

.btn-img-navbar:hover{
    filter: invert(15%);
}

.link-navbar{
    width: fit-content;
    height: fit-content;
}

.div-navbar-btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 125px;
    height: fit-content;
}

.div-navbar-btns-small{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 83.3px;
    height: fit-content;
}